body {
    background-image: url('https://t4.ftcdn.net/jpg/00/83/80/77/360_F_83807779_Xrd1EaFM1Hy603zmLbcyL4ThwpYJYSyv.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}
.button-container {
    position: fixed;
    display: flex;
    flex-direction: row;
}
#start-btn, #stop-btn, #reset-btn {
    margin-right: 20px;
}
h1 {
    color: black;
    position: fixed;
    font-family: 'Freckle Face', cursive;
}
h2 {
    color: black;
    position: fixed;
    font-family: 'Gaegu';
}

@media screen and (min-width: 768px) {
    .button-container {
        top: 175px;
        left: 10px;
    }
    h1 {
        left: 10px;
        top: 10px;
        font-size: 34px;
    }
    h2 {
        left: 10px;
        top: 70px;
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .button-container {
        top: 40vh;
        left: 2vw;
    }
    h1 {
        left: 2vw;
        top: 2vh;
        font-size: 6vw;
    }
    h2 {
        left: 2vw;
        top: 16vh;
        font-size: 4vw;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .button-container {
        top: 75vh;
        left: 2vw;
    }
    h1 {
        left: 2vw;
        top: 2vh;
        font-size: 6vw;
    }
    h2 {
        left: 2vw;
        top: 18vh;
        font-size: 4vw;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-position: top left;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-position: center center;
    }
}
